html, body {
    width: 100%;
    overflow-x: hidden;
    font-size: 1.05em;
}

[class^="col-"] {
    @include animate($duration-short);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    text-transform: uppercase;
    color: $brand-primary;
    font-weight: bold;
    font-family: $font-family-sans-serif;
    margin: 0 0 $padding-base 0;
}

h1, .h1 {
    @include blocktext($brand-accent);
}

.btn {
    text-transform: uppercase;
    @include animate($duration-short);

    &.btn-default {
        border-color: lighten($brand-accent, 10%);

        &:hover {
            background: $btn-primary-bg;
            @include glow($glow-base, $brand-accent);
            color: $btn-primary-color;
            border-color: $btn-primary-bg;
        }
    }

    &.btn-primary {
        &:hover {
            background: $btn-default-bg;
            @include glow($glow-base, $brand-accent);
            color: $btn-default-color;
            border-color: $btn-default-bg;
        }
    }
}

footer {
    padding: $padding-base;
    font-size: .75em;
    background: $gray-lighter;
    border-top: 6px solid $gray-light;
}

.icon-block {
    position: relative;
    padding-left: 1.8em;
    padding-top: 0;
    &:before {
        position: absolute;
        top: auto;
        left: 0;
        font-size: 1.4em;
        vertical-align: middle;
        margin-right: $padding-small;
    }
}

.section {
    @include make-row();
    background: $gray-lighter;
    margin: $padding-base;
    padding: $padding-large;
    border-radius: $padding-base;

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        text-align: center;
    }
    
    [class^="col-"] {
        padding-top: $padding-small;
        padding-bottom: $padding-small;

        .btn {
            width: 100%;
        }
    }

    .section-photo {
        @include make-xs-column(12);
        @include make-sm-column(3);

        text-align: center;

        img {
            border: $brand-accent $border-base-size solid;
            border-radius: 50%;
            width: 100%;
            max-width: 200px;
        }
    }

    .section-content {
        @include make-xs-column(12);
        @include make-sm-column(9);
    }
}

.alerts {
    @include animate($duration-short);
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-height: 0;

    &.is-visible {
        max-height: 999px;
    }

    .alert {
        border-radius: 0;
        margin: 0;
        padding: $padding-small;
        text-align: center;
        font-size: 1.2em;
    }
}



.sb-entry-group {
    display: table;
    width: 100%;
    background: $gray-light;
    border-radius: $padding-small;
    padding: $padding-small;
    border: 1px solid darken($gray-light, 5%);
    margin: $padding-small 0;

    .sb-entry-group-label,
    .sb-entry-group-content,
    .sb-entry-group-message {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding: 0 $padding-small;
        border-radius: $padding-small;
    }

    .sb-entry-group-label,
    .sb-entry-group-message {
        background: darken($gray-light, 5%);
        font-family: $font-family-sans-serif;
        font-weight: normal;
        width: 20%;
        line-height: 1.2em;
        font-size: .6em;
        text-transform: uppercase;
    }

    .sb-entry-group-message {
        @include animate($duration-short);

        &:before {
            margin-right: $padding-small;
            vertical-align: middle;
            font-size: 1.2em;
        }
    }

    .sb-entry-group-content {
        width: 60%;

        & > input,
        & > select {
            @extend .form-control;
        }
    }

    .sb-entry-group-alert {
        width: 100%;
        display: inline-block;
        height: 100%;
        background: #ff0;
    }
}

.sb-theme {
    background: $brand-primary !important;
    color: #fff !important;
}

.sb-theme-subtle {
    background: lighten($brand-accent, 15%) !important;
    color: $brand-primary !important;
}

.sb-danger {
    background: $btn-danger-bg !important;
    color: $btn-danger-color !important;
}

.sb-danger-subtle {
    color: $btn-danger-bg !important;
}

.sb-success {
    background: $btn-success-bg !important;
    color: $btn-success-color !important;
}

.sb-success-subtle {
    color: $btn-success-bg !important;
}

.sb-info {
    background: $btn-info-bg !important;
    color: $btn-info-color !important;
}

.sb-info-subtle {
    color: $btn-info-bg !important;
}

.sb-warning {
    background: $btn-warning-bg !important;
    color: $btn-warning-color !important;
}

.sb-warning-subtle {
    color: $btn-warning-bg !important;
}

.sb-clear-fix {
    clear: both;
}

@media (min-width: $screen-sm-min) {
    .section {
        margin: $padding-large;
        padding: $padding-large;
        border-radius: $padding-large;

        h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
            text-align: left;
        }
    }
}

@media (max-width: 500px) {
    .sb-entry-group .sb-entry-group {
        .sb-entry-group-label,
        .sb-entry-group-content,
        .sb-entry-group-message {
            display: block;
            width: 100%;
            margin: 0;
        }

        .sb-entry-group-label,
        .sb-entry-group-message {
            padding: $padding-base 0;
        }

        .sb-entry-group-content {
            padding: $padding-small 0;
        }
    }
}

@media (min-width: $screen-md-min) {
    .section {
        margin: $padding-xlarge;
        padding: $padding-xlarge;
        border-radius: $padding-xlarge;
    }
}

@media (min-width: $screen-lg-min) {
    .sb-entry-group {
        .sb-entry-group-label,
        .sb-entry-group-message {
            width: 25%;
        }

        .sb-entry-group-content {
            width: 50%;
        }
    }
}