@mixin animate($duration, $delay: 0s, $what: all) {
    -webkit-transition-property: $what;
    transition-property: $what;

    -webkit-transition-duration: $duration;
    transition-duration: $duration;

    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin unanimate() {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

@mixin borderbox() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin blocktext($color) {
    text-shadow: 2px 2px 0px $color;
}

@mixin desaturate($amount) {
    -webkit-filter: grayscale($amount);
    filter: grayscale($amount);
}

@mixin grow($scale) {
    -ms-transform: scale($scale, $scale);
    -webkit-transform: scale($scale, $scale);
    transform: scale($scale, $scale);
}

@mixin glow($amt, $color) {
    box-shadow: 0 0 $amt $color;
}

@mixin blur($amt) {
    -webkit-filter: blur($amt);
    -moz-filter: blur($amt);
    -o-filter: blur($amt);
    -ms-filter: blur($amt);
    filter: blur($amt);
}

$glow-base: 20px;

$duration-short: .5s;
$duration-long: 1.2s;

$border-base-size: 3px !default;

$card-height: 150px;
$card-height-large: 175px;

$card-glow-size: $glow-base;
$card-glow-color: #000;

$card-background: #fff;

$padding-base: $grid-gutter-width;
$padding-small: floor($padding-base/2);
$padding-large: ceil($padding-base * 2);
$padding-xlarge: ceil($padding-base * 4);

$login-input-border-size: 0px;
$login-input-height: 42px;
$login-height: ($login-input-border-size*2)+$login-input-height+($padding-small*2);

$main-nav-height: 78px;
$main-nav-line-height: 115px;
