<div class="row hero-background">
    <img hero-image src="images/backgrounds/yoyo.jpg">
</div>
<section class="row card-stack">
    <article class="col-xs-12 col-sm-12 col-md-4 col-md-push-4 card-wrapper">
        <div class="card card-large">
            <div class="card-inner">
                <h2 class="card-heading">Thing 1</h2>
                <p class="card-content">lorem ipsum dolar sit amet.  something big something small?</p>
                <a href="" class="btn btn-primary">Do Something</a>
            </div>
        </div>
    </article>

    <article class="col-xs-12 col-sm-6 col-md-4 col-md-pull-4 card-wrapper">
        <div class="card">
            <div class="card-inner">
                <h2 class="card-heading">Thing 2</h2>
                <p class="card-content">lorem ipsum dolar sit amet.  something big something small?</p>
                <a href="" class="btn btn-primary">Do Something</a>
            </div>
        </div>
    </article>

    <article class="col-xs-12 col-sm-6 col-md-4 card-wrapper">
        <div class="card">
            <div class="card-inner">
                <h2 class="card-heading">Thing 3</h2>
                <p class="card-content">lorem ipsum dolar sit amet.  something big something small?</p>
                <a href="" class="btn btn-primary">Do Something</a>
            </div>
        </div>
    </article>
</section>
