<section class="section">
    <h2 class="h1">Why sign up?</h2>
    <div class="col-xs-12">
        <ul>
            <li>Dolor in reprehenderit in voluptate</li>
            <li>elit esse cillum dolore eu fugiat nulla pariatur</li>
            <li>Excepteur sint occaecat cupidatat non proident</li>
            <li>Sunt in culpa qui officia deserunt mollit anim id est laborum</li>
        </ul>

        <ul>
            <li *ngFor="#error of errors">{{error.text}}</li>
        </ul>
    </div>

    <form class="col-xs-12" [ngFormModel]="rForm" novalidate (ngSubmit)="onRegister($event)">
        <div entry label="Username" [control]="rForm.controls.account.controls.username">
            <input type="text" [ngFormControl]="rForm.controls.account.controls.username">
        </div>

        <div entry label="Email Address" [control]="rForm.controls.account.controls.email">
            <input type="text" [ngFormControl]="rForm.controls.account.controls.email">
        </div>

        <div entrygroup label="Passwords" [control]="rForm.controls.account.controls.passwords">
            <div entry label="Password" [control]="rForm.controls.account.controls.passwords.controls.password">
                <input type="text" [ngFormControl]="rForm.controls.account.controls.passwords.controls.password">
            </div>

            <div entry label="Confirm Password" [control]="rForm.controls.account.controls.passwords.controls.password2">
                <input type="text" [ngFormControl]="rForm.controls.account.controls.passwords.controls.password2">
            </div>
        </div>

        <div entry label="First Name" [control]="rForm.controls.personal.controls.firstName">
            <input type="text" [ngFormControl]="rForm.controls.personal.controls.firstName">
        </div>

        <div entry label="Last Name" [control]="rForm.controls.personal.controls.lastName">
            <input type="text" [ngFormControl]="rForm.controls.personal.controls.lastName">
        </div>

        <div entry label="Gender" [control]="rForm.controls.personal.controls.gender">
            <select [ngFormControl]="rForm.controls.personal.controls.gender">
                <option value="F">Female</option>
                <option value="M">Male</option>
            </select>
        </div>

        <div entrygroup label="Date of Birth" [control]="rForm.controls.personal.controls.dob">
            <div entry label="Month" [control]="rForm.controls.personal.controls.dob.controls.month">
                <select [ngFormControl]="rForm.controls.personal.controls.dob.controls.month">
                    <option *ngFor="#month of months" value="month.value">{{month.name}}</option>
                </select>
            </div>

            <div entry label="Date" [control]="rForm.controls.personal.controls.dob.controls.date">
                <select [ngFormControl]="rForm.controls.personal.controls.dob.controls.date">
                    <option *ngFor="#date of dates" value="date">{{date}}</option>
                </select>
            </div>

            <div entry label="Year" [control]="rForm.controls.personal.controls.dob.controls.year">
                <select [ngFormControl]="rForm.controls.personal.controls.dob.controls.year">
                    <option *ngFor="#year of years" value="year">{{year}}</option>
                </select>
            </div>
        </div>

        <div entrygroup label="Street Address" [control]="rForm.controls.location.controls.address">
            <div entry label="Line 1" [control]="rForm.controls.location.controls.address">
                <input type="text" [ngFormControl]="rForm.controls.location.controls.address">
            </div>

            <div entry label="Line 2" [control]="rForm.controls.location.controls.address2">
                <input type="text" [ngFormControl]="rForm.controls.location.controls.address2">
            </div>
        </div>

        <div entry label="City" [control]="rForm.controls.location.controls.city">
            <input type="text" [ngFormControl]="rForm.controls.location.controls.city">
        </div>

        <div entry label="State" [control]="rForm.controls.location.controls.state">
            <select [ngFormControl]="rForm.controls.location.controls.state">
                <option value="MI">Michigan</option>
                <option value="OH">Ohio</option>
                <option value="OT">Ontario</option>
            </select>
        </div>

        <div entry label="ZIP Code" [control]="rForm.controls.location.controls.zip">
            <input type="text" [ngFormControl]="rForm.controls.location.controls.zip">
        </div>

        <div entrygroup label="Phone Numbers" [control]="rForm.controls.phones">
            <div entry label="Home Phone" [control]="rForm.controls.phones.controls.homePhone">
                <input type="text" [ngFormControl]="rForm.controls.phones.controls.homePhone">
            </div>

            <div entry label="Cell Phone" [control]="rForm.controls.phones.controls.cellPhone">
                <input type="text" [ngFormControl]="rForm.controls.phones.controls.cellPhone">
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-4 sb-clear-fix pull-right">
            <button class="btn btn-primary">Sign up</button>
        </div>
    </form>
</section>

<section class="section">
    <h2 class="h1">Already have an account?</h2>
    <p>Login below to access your account.</p>
    <form class="col-xs-12" #lForm="ngForm">
        <div class="col-xs-12 col-sm-4">
            <input class="form-control" type="text" required ngControl="lUsername" #lUsername="ngForm" placeholder="USERNAME">
        </div>
        <div class="col-xs-12 col-sm-4">
            <input class="form-control" type="password" required ngControl="lPassword" #lPassword="ngForm" placeholder="PASSWORD">
        </div>
        <div class="col-xs-12 col-sm-4">
            <button (click)="onLogin(lUsername.value, lPassword.value, $event)" [disabled]="!lForm.valid" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</section>
