<section class="section">
    <h2 class="h1">Why sign up?</h2>
    <div class="col-xs-12">
        <ul>
            <li>Dolor in reprehenderit in voluptate</li>
            <li>elit esse cillum dolore eu fugiat nulla pariatur</li>
            <li>Excepteur sint occaecat cupidatat non proident</li>
            <li>Sunt in culpa qui officia deserunt mollit anim id est laborum</li>
        </ul>

        <ul>
            <li *ngFor="#error of errors">{{error.text}}</li>
        </ul>
    </div>

    <form class="col-xs-12" [ngFormModel]="rForm" novalidate (ngSubmit)="onRegister($event)">
        <div class="col-sm-12 col-md-6">
            <entry label="Username" [control]="rForm.controls.account.controls.username">
                <input type="text" class="form-control" [ngFormControl]="rForm.controls.account.controls.username">
            </entry>
        </div>

        <div class="col-sm-12 col-md-6">
            <entry label="Password" [control]="rForm.controls.account.controls.passwords.controls.password">
                <input type="text" class="form-control" [ngFormControl]="rForm.controls.account.controls.passwords.controls.password">
            </entry>
        </div>

        <div class="col-sm-12 col-md-6">
            <entry label="Confirm Password" [control]="rForm.controls.account.controls.passwords.controls.password2">
                <input type="text" class="form-control" [ngFormControl]="rForm.controls.account.controls.passwords.controls.password2">
            </entry>
        </div>

        <div class="col-sm-12 col-md-6">
            <entry label="Email Address" [control]="rForm.controls.account.controls.email">
                <input type="text" class="form-control" [ngFormControl]="rForm.controls.account.controls.email">
            </entry>
        </div>

        <div class="col-sm-12 col-md-6">
            <entry label="First Name" [control]="rForm.controls.personal.controls.firstName">
                <input type="text" class="form-control" [ngFormControl]="rForm.controls.personal.controls.firstName">
            </entry>
        </div>

        <div class="col-sm-12 col-md-6">
            <entry label="Last Name" [control]="rForm.controls.personal.controls.firstName">
                <input type="text" class="form-control" [ngFormControl]="rForm.controls.personal.controls.lastName">
            </entry>
        </div>

        <div class="col-sm-12 col-md-6">
            <entry label="Gender" [control]="rForm.controls.personal.controls.gender">
                <select class="form-control" [ngFormControl]="rForm.controls.personal.controls.gender">
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                </select>
            </entry>
        </div>

        <div class="col-sm-12 col-md-6">
            <entry label="Date of Birth" [control]="rForm.controls.personal.controls.dob">
                <input type="text" class="form-control" [ngFormControl]="rForm.controls.personal.controls.dob">
            </entry>
        </div>

        <div class="col-sm-12 col-md-6">
            <entry label="Address" [control]="rForm.controls.location.controls.address">
                <input type="text" class="form-control" [ngFormControl]="rForm.controls.location.controls.address">
            </entry>
        </div>

        <div class="col-sm-12 col-md-6">
            <entry label="Address (St., Apt.)" [control]="rForm.controls.location.controls.address2">
                <input type="text" class="form-control" [ngFormControl]="rForm.controls.location.controls.address2">
            </entry>
        </div>

        <div class="col-sm-12 col-md-6">
            <entry label="City" [control]="rForm.controls.location.controls.city">
                <input type="text" class="form-control" [ngFormControl]="rForm.controls.location.controls.city">
            </entry>
        </div>

        <div class="col-sm-12 col-md-6">
            <entry label="State" [control]="rForm.controls.location.controls.state">
                <select class="form-control" [ngFormControl]="rForm.controls.location.controls.state">
                    <option value="MI">Michigan</option>
                    <option value="OH">Ohio</option>
                    <option value="OT">Ontario</option>
                </select>
            </entry>
        </div>

        <div class="col-sm-12 col-md-6">
            <entry label="ZIP Code" [control]="rForm.controls.location.controls.zip">
                <input type="text" class="form-control" [ngFormControl]="rForm.controls.location.controls.zip">
            </entry>
        </div>

        <div class="col-sm-12 col-md-6">
            <entry label="Home Phone" [control]="rForm.controls.phones.controls.homePhone">
                <input type="text" class="form-control" [ngFormControl]="rForm.controls.phones.controls.homePhone">
            </entry>
        </div>

        <div class="col-sm-12 col-md-6">
            <entry label="Cell Phone" [control]="rForm.controls.phones.controls.cellPhone">
                <input type="text" class="form-control" [ngFormControl]="rForm.controls.phones.controls.cellPhone">
            </entry>
        </div>
        
        <div class="col-xs-12 col-sm-4 sb-clear-fix pull-right">
            <button class="btn btn-primary">Sign up</button>
        </div>
    </form>
</section>

<section class="section">
    <h2 class="h1">Already have an account?</h2>
    <p>Login below to access your account.</p>
    <form class="col-xs-12" #lForm="ngForm">
        <div class="col-xs-12 col-sm-4">
            <input class="form-control" type="text" required ngControl="lUsername" #lUsername="ngForm" placeholder="USERNAME">
        </div>
        <div class="col-xs-12 col-sm-4">
            <input class="form-control" type="password" required ngControl="lPassword" #lPassword="ngForm" placeholder="PASSWORD">
        </div>
        <div class="col-xs-12 col-sm-4">
            <button (click)="onLogin(lUsername.value, lPassword.value, $event)" [disabled]="!lForm.valid" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</section>
