.btn,
.btn:focus,
.btn:active {
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    padding: 0 52px + $small-padding 0 $small-padding;
    text-transform: uppercase;
    background-color: $default-contrast;
    color: #fff;
    line-height: 40px;
    @include transition($duration-short, 0);
    border-radius: 4px;
}

.btn {
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2.1rem;
        color: $default-contrast;
        background-color: #fff;
        text-shadow: none;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        @include transition($duration-short, 0);
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:hover {
        text-decoration: none;
        background-color: #fff;
        text-shadow: none;
        color: $default-contrast;
        @include glow($glow-medium, #fff);

        &:before {
            background-color: $default-contrast;
            color: #fff;
        }
    }
}



.btn-lg,
.btn-lg:focus,
.btn-lg:active {
    font-size: 2rem;
    line-height: 62px;
    border-radius: 8px;
    padding: 0 62px + $base-padding 0 $base-padding;
}

.btn-lg {
    &:hover, {
        @include glow($glow-large, #fff);
    }

    &:before {
        font-size: 3.1rem;
        width: 62px;
        height: 62px;
        line-height: 62px;
        border-radius: 8px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}


.btn-sm,
.btn-sm:focus,
.btn-sm:active {
    font-size: 1.1rem;
    line-height: 32px;
    border-radius: 3px;
    padding: 0 32px + $small-padding 0 $small-padding;
}

.btn-sm {
    &:hover {
        @include glow($glow-small, #fff);
    }

    &:before {
        font-size: 1.6rem;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 3px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.intro {
    .btn {
        background-color: $intro-contrast;

        &:before {
            color: $intro-contrast;
        }

        &:hover {
            background-color: #fff;
            color: $intro-contrast;

            &:before {
                background-color: $intro-contrast;
                color: $intro-subtle;
            }
        }
    }
}

.about {
    .btn {
        background-color: $about-contrast;

        &:before {
            color: $about-contrast;
        }

        &:hover {
            background-color: #fff;
            color: $about-contrast;

            &:before {
                background-color: $about-contrast;
                color: $about-subtle;
            }
        }
    }
}

.services {
    .btn {
        background-color: $services-contrast;

        &:before {
            color: $services-contrast;
        }

        &:hover {
            background-color: #fff;
            color: $services-contrast;

            &:before {
                background-color: $services-contrast;
                color: $services-subtle;
            }
        }
    }
}

.livestream {
    .btn {
        background-color: $livestream-contrast;

        &:before {
            color: $livestream-contrast;
        }

        &:hover {
            background-color: #fff;
            color: $livestream-contrast;

            &:before {
                background-color: $livestream-contrast;
                color: $livestream-subtle;
            }
        }
    }
}

.enroll {
    .btn {
        background-color: $enroll-contrast;

        &:before {
            color: $enroll-contrast;
        }

        &:hover {
            background-color: #fff;
            color: $enroll-contrast;

            &:before {
                background-color: $enroll-contrast;
                color: $enroll-subtle;
            }
        }
    }
}

.contact {
    .btn {
        background-color: $contact-contrast;

        &:before {
            color: $contact-contrast;
        }

        &:hover {
            background-color: #fff;
            color: $contact-contrast;

            &:before {
                background-color: $contact-contrast;
                color: $contact-subtle;
            }
        }
    }
}

