.btn {
    display: inline-block;
    margin: $small-padding $small-padding $small-padding 0;
    font-family: $accent-font-family;
    text-transform: uppercase;
    height: $btn-md-height;
    line-height: $btn-md-height;
    background-color: $default-contrast;
    color: #fff;
    @include transition($duration-short, 0);
    border-radius: 4px;
    border: none;
    padding: 0 0 0 $medium-padding;
    @include borderbox();

    &:before {
        float: right;
        font-size: 1.6em;
        height: $btn-md-height;
        width: $btn-md-height;
        text-align: center;
        line-height: $btn-md-height;
        color: $default-contrast;
        margin-left: $medium-padding;
        background-color: #fff;
        text-shadow: none;
        text-align: center;
        @include transition($duration-short, 0);
        @include borderbox();
        border-radius: inherit;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:focus,
    &:hover {
        text-decoration: none;
        background-color: #fff;
        text-shadow: none;
        color: $default-contrast;
        @include glow($glow-medium, #fff);

        &:before {
            background-color: $default-contrast;
            color: #fff;
        }
    }
}



.btn-lg {
    height: $btn-lg-height;
    line-height: $btn-lg-height;
    font-size: 1.2em;
    padding-left: $base-padding;

    &:focus,
    &:hover, {
        @include glow($glow-large, #fff);
    }

    &:before {
        margin-left: $base-padding;
        height: $btn-lg-height;
        line-height: $btn-lg-height;
        width: $btn-lg-height;
    }
}


.btn-sm {
    font-size: .7em;
    height: $btn-sm-height;
    line-height: $btn-sm-height;
    padding-left: $small-padding;
    
    &:focus,
    &:hover {
        @include glow($glow-small, #fff);
    }

    &:before {
        margin-left: $small-padding;
        height: $btn-sm-height;
        line-height: $btn-sm-height;
        width: $btn-sm-height;
    }
}

.intro {
    .btn {
        background-color: $intro-contrast;

        &:before {
            color: $intro-contrast;
        }

        &:focus,
        &:hover {
            background-color: #fff;
            color: $intro-contrast;

            &:before {
                background-color: $intro-contrast;
                color: $intro-subtle;
            }
        }
    }
}

.about {
    .btn {
        background-color: $about-contrast;

        &:before {
            color: $about-contrast;
        }

        &:focus,
        &:hover {
            background-color: #fff;
            color: $about-contrast;

            &:before {
                background-color: $about-contrast;
                color: $about-subtle;
            }
        }
    }
}

.services {
    .btn {
        background-color: $services-contrast;

        &:before {
            color: $services-contrast;
        }

        &:focus,
        &:hover {
            background-color: #fff;
            color: $services-contrast;

            &:before {
                background-color: $services-contrast;
                color: $services-subtle;
            }
        }
    }
}

.livestream {
    .btn {
        background-color: $livestream-contrast;

        &:before {
            color: $livestream-contrast;
        }

        &:focus,
        &:hover {
            background-color: #fff;
            color: $livestream-contrast;

            &:before {
                background-color: $livestream-contrast;
                color: $livestream-subtle;
            }
        }
    }
}

.enroll {
    .btn {
        background-color: $enroll-contrast;

        &:before {
            color: $enroll-contrast;
        }

        &:focus,
        &:hover {
            background-color: #fff;
            color: $enroll-contrast;

            &:before {
                background-color: $enroll-contrast;
                color: $enroll-subtle;
            }
        }
    }
}

.contact {
    .btn {
        background-color: $contact-contrast;

        &:before {
            color: $contact-contrast;
        }

        &:focus,
        &:hover {
            background-color: #fff;
            color: $contact-contrast;

            &:before {
                background-color: $contact-contrast;
                color: $contact-subtle;
            }
        }
    }
}

