@import "fonts/_storybook.scss";

h1, h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2.2rem;
    color: $default-text;

    &:before {
        position: relative;
        top: 2px;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        display: inline-block;
        border: 8px solid $default-text;
        color: $default-subtle;
        line-height: 35px !important;
        font-size: 1.9rem;
        text-align: center;
        margin-right: 5px;
    }
}

p, ul {
    margin-bottom: 1.5rem;
}