@import "fonts/_storybook.scss";
$primary-font-family: 'Montserrat', sans-serif;
$primary-font-weight: 400;
$primary-font-size: 28px;
$primary-line-height: 28px;

$accent-font-family: 'Roboto', sans-serif;

p, ul {
    margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.2rem;
    color: $default-text;

    &:before {
        position: relative;
        top: 2px;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        display: inline-block;
        border: 8px solid $default-text;
        color: $default-subtle;
        line-height: 35px !important;
        font-size: 1.5rem;
        text-align: center;
        margin-right: 5px;
    }
}

.about {
    h1, h2, h3, h4, h5, h6 {
        color: $about-text;
        &:before {
            border-color: $about-text;
            color: $about-subtle;
        }
    }
}

.contact {
    h1, h2, h3, h4, h5, h6 {
        color: $contact-text;
        &:before {
            border-color: $contact-text;
            color: $contact-subtle;
        }
    }
}

.enroll {
    h1, h2, h3, h4, h5, h6 {
        color: $enroll-text;
        &:before {
            border-color: $enroll-text;
            color: $enroll-subtle;
        }
    }
}

.intro {
    h1, h2, h3, h4, h5, h6 {
        color: $intro-text;
        &:before {
            border-color: $intro-text;
            color: $intro-subtle;
        }
    }
}

.schedule {
    h1, h2, h3, h4, h5, h6 {
        color: $schedule-text;
        &:before {
            border-color: $schedule-text;
            color: $schedule-subtle;
        }
    }
}

.services {
    h1, h2, h3, h4, h5, h6 {
        color: $services-text;
        &:before {
            border-color: $services-text;
            color: $services-subtle;
        }
    }
}

.schedule {
    h1, h2, h3, h4, h5, h6 {
        color: $schedule-text;
        &:before {
            border-color: $schedule-text;
            color: $schedule-subtle;
        }
    }
}

.livestream {
    h1, h2, h3, h4, h5, h6 {
        color: $livestream-text;
        &:before {
            border-color: $livestream-text;
            color: $livestream-subtle;
        }
    }
}

h3 {
    font-size: 1rem;

    &:before {
        font-size: 1rem;
        border-radius: 16px;
        height: 32px;
        width: 32px;
        border-width: 5px;
        line-height: 22px !important;
    }
}