form {
    input {
        padding: 5px;
        border: 2px solid #ddd;
        font-size: 1rem;
        font-family: $accent-font-family;
        box-sizing: content-box;
        line-height: 1.5rem;
        background: #fff;
        color: #999;
        margin: 5px 0;
        border-radius: 4px;
    }

    p {
        margin: 0;
        font-size: .7rem;
        line-height: .7rem;

    }
}