html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    font-family: $main-font-family;
    font-size: $base-text-size;
}

p, ul, ol, li {
    margin: 0 0 $base-padding 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

.section li {
    padding-left: $base-padding;
    text-indent: -1em;

    &:before {
        content: "\002055";
        margin-right: .3em;
        color: $default-text;
    }
}

h1, h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: $accent-font-family;
    text-transform: uppercase;
    color: $default-text;
    line-height: $heading-icon-size;
    height: $heading-icon-size;
    margin: 0 0 $small-padding 0;

    &:before {
        @include borderbox();
        border-radius: $heading-icon-size/2;
        width: $heading-icon-size;
        height: $heading-icon-size;
        line-height: $heading-icon-size - 16 !important; // subtract border
        display: block;
        float: left;
        border: 8px solid $default-text;
        color: $default-subtle;
        font-size: 1.4rem;
        text-align: center;
        margin-right: $small-padding;
        margin-left: -$heading-icon-size - $small-padding;
    }
}


a,
a:visited,
a:link,
a:hover,
a:focus {
    color: $default-text;
    text-decoration: none;
}

input[type="text"],
input[type="password"],
select {
    @include borderbox();
    padding: $small-padding;
    margin: $small-padding 0;
    border: none;
    border-radius: 4px;
    color: $input-text-color;
    font-size: 1em;
}


#height-spy {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-container {
    width: 100%;
    min-height: 100%;
    display: block;
    position: relative;
}

