html, body {
    width: 100%;
    overflow-x: hidden;
}

[class^="col-"] {
    @include animate($duration-short);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    text-transform: uppercase;
    color: $brand-primary;
    font-weight: bold;
    font-family: $font-family-sans-serif;
    margin: 0 0 $padding-base 0;
}

h1, .h1 {
    @include blocktext($brand-accent);
}

.btn {
    text-transform: uppercase;
    @include animate($duration-short);

    &.btn-default {
        &:hover {
            background: $btn-primary-bg;
            @include glow($glow-base, $brand-accent);
            color: $btn-primary-color;
            border-color: $btn-primary-bg;
        }
    }

    &.btn-primary {
        &:hover {
            background: $btn-default-bg;
            @include glow($glow-base, $brand-accent);
            color: $btn-default-color;
            border-color: $btn-default-bg;
        }
    }
}

footer {
    padding: $padding-base;
    @include gradient-vertical(#fff, darken($gray-lighter, 5%), 0%, 100%);
    border-top: 6px solid lighten($gray-lighter, 5%);
}

.icon-block {
    margin-left: 30px;
    text-indent: -30px;

    &:before {
        font-size: 1.4em;
        vertical-align: middle;
        margin-right: $padding-small;
    }
}

.section {
    @include make-row();
    margin-top: $padding-base;
    margin-bottom: $padding-base;

    .section-photo {
        @include make-xs-column(5);
        @include make-sm-column(3);

        text-align: center;

        img {
            border: $brand-accent $border-base-size solid;
            border-radius: 50%;
            width: 100%;
            max-width: 200px;
        }
    }

    .section-content {
        @include make-xs-column(7);
        @include make-sm-column(9);
    }
}

.alerts {
    @include animate($duration-short);
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-height: 0;

    &.is-visible {
        max-height: 999px;
    }

    .alert {
        border-radius: 0;
        margin: 0;
        padding: $padding-small;
        text-align: center;
        font-size: 1.2em;
    }
}