.nav-wrapper {
    padding: 0;
}

.logo {
    padding: $padding-base;
    border-bottom: $border-base-size $brand-accent solid;
    background: $brand-primary;
    text-align: center;

    img {
        max-width: 255px;
        width: 100%;
    }
}


.nav-container {
    background: lighten($brand-accent, 15%);
    text-align: center;
    font-weight: bold;
    padding: 0;
    font-family: $font-family-sans-serif;
    position: relative;
}


.nav-link {
    display: inline-block;
    margin: 0 $padding-base;
    color: $gray-dark;
    height: $navbar-height;
    line-height: $navbar-height;
    
    &:hover,
    &:active {
        text-decoration: none;
        color: $brand-primary; 
    }
}

.nav-menu {
    display: none;
}

.hero-background {
    width: 100%;
    height: auto;
    display: block;
}

.login-form {
    border-bottom-left-radius: $padding-small;
    padding: $padding-small;
    background: $body-bg;
    height: $login-height;

    .form-control {
        padding: $padding-base;
        border-width: $login-input-border-size;
        height: $login-input-height;
    }

    .form-group {
        margin: 0;
        padding: 0 $padding-base 0 0;
    }
}

.mobile-nav {
    display: none;
}


.card {
    @include glow($card-glow-size, $card-glow-color);
    @include gradient-vertical(#fff, lighten(#000, 95%), 0%, 100%);
    width: 100%;
    padding: 0;
    min-height: $card-height;

    border-radius: $border-radius-base;
    border: $border-base-size solid $brand-primary;
    border-top: none;
    border-bottom: none;

    margin-bottom: $grid-gutter-width;

    text-align: center;

    .card-wrapper {
        padding: $padding-base;
        background: url(../images/backgrounds/paws.png) no-repeat center bottom;
        min-height: $card-height;
        height: 100%;
    }

    &.card-large {
        margin-top: -$grid-gutter-width;
    }

    .card-heading {
        margin-top: 0;
        color: $gray;
        font-family: $font-family-base;
    }
}

.card-stack > * {
    &:first-child {
        .card-wrapper {
            background-position: left bottom;
        }
    }

    &:last-child {
        .card-wrapper {
            background-position: right top;
        }
    }
}



// mobile only with no unset for others
@media (max-width: $screen-xs-min) {
    .offscreen-left,
    .offscreen-right {
        position: absolute;
        top: $navbar-height;
        width: 90%;
    }


    .offscreen-left {
        left: -100%;

        &.offscreen-visible {
            left: 0;
        }
    }

    .offscreen-right {
        right: -100%;

        &.offscreen-visible {
            right: 0;
        }
    }

    .mobile-nav {
        display: block;

        .btn {
            width: 100%;
            margin: $padding-base 0;
        }
    }

    .nav-link {
        display: block;
        margin: 0;
    
        &:hover,
        &:active {
            background: $body-bg;
        }
    }
}



// tablet and bigger
@media (min-width: $screen-sm-min) {
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .hero-background {
        z-index: -1;
        float: left;
        margin-top: -$login-height;
    }

    .nav-container {
        text-align: right;
        background: $body-bg;
        padding-right: $padding-base;
    }

    .login-form {
        float: right !important;
        width: auto;
        background: rgba(255,255,255,.5);

        .btn {
            height: $login-input-height;
        }
    }

    .card {
        margin-top: -$card-height/2;

        &.card-large {
            min-height: $card-height-large;
            margin-top: -$card-height-large/2;

            .card-wrapper {
                min-height: $card-height-large;
            }
        }

        .card-content {
            text-align: left;
        }
    }
}
