.hero-background {
    z-index: -1;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.card {
    @include glow($card-glow-size, $card-glow-color);
    @include gradient-vertical(#fff, lighten(#000, 95%), 0%, 100%);
    width: 100%;
    padding: 0;
    min-height: $card-height;

    border-radius: $border-radius-base;
    border: $border-base-size solid $brand-primary;
    border-top: none;
    border-bottom: none;

    margin-bottom: $grid-gutter-width;

    text-align: center;

    &.card-large {
        margin-top: -$grid-gutter-width;
    }
}

.card-wrapper {
    .card-inner {
        padding: $padding-base;
        background: url(../images/backgrounds/paws.png) no-repeat center bottom;
        min-height: $card-height;
        height: 100%;
    }

    &:first-child .card-inner {
        background-position: left bottom;
    }

    &:last-child .card-inner {
        background-position: right top;
    }
}

.card-heading {
    margin-top: 0;
    color: $gray;
    font-family: $font-family-base;
}


// tablet and bigger
@media (min-width: $screen-md-min) {
    .hero-background {
        margin-top: -$login-height;
    }

    .card {
        margin-top: -$card-height/2;

        &.card-large {
            min-height: $card-height-large;
            margin-top: -$card-height-large/2;

            .card-inner {
                min-height: $card-height-large;
            }
        }

        .card-content {
            text-align: left;
        }
    }
}
