@mixin borderbox() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin blocktext($color) {
    text-shadow: 2px 2px 0px $color;
}

@mixin desaturate($amount) {
    -webkit-filter: grayscale($amount);
    filter: grayscale($amount);
}

@mixin grow($scale) {
    -ms-transform: scale($scale, $scale);
    -webkit-transform: scale($scale, $scale);
    transform: scale($scale, $scale);
}

@mixin transition($duration, $delay) {
    -webkit-transition: all $duration;
    transition: all $duration;
    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin glow($amt, $color) {
    box-shadow: 0 0 $amt $color;
}

@mixin blur($amt) {
    -webkit-filter: blur($amt);
    -moz-filter: blur($amt);
    -o-filter: blur($amt);
    -ms-filter: blur($amt);
    filter: blur($amt);
}