
nav {
    height: $nav-height;
    line-height: $nav-height;
    font-size: .9rem;
    z-index: 3;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: $nav-top-padding;
    width: 100%;

    h1 a {
        @include transition($duration-short, 0);
        width: 250px;
        margin-top: -$nav-top-padding;
        display: inline-block;

        &:hover {
            width: 270px;
            margin-top: -$nav-top-padding - 5;
            margin-left: -10px;
        }
    }



    .nav-link-dropdown,
    .nav-link {
        @include transition($duration-short, 0);
        display: inline-block;
        float: left;
        background-color: transparent;
        position: relative;
        line-height: $nav-height;
        padding: 0 $base-padding * 2 0 $base-padding;
        cursor: pointer;
        border-bottom: 2px solid transparent;

        &:before {
            display: inline-block;
            overflow: hidden;
            font-size: 1.3rem;
            line-height: $nav-height !important;
            position: absolute;
            top: 0;
            right: $small-padding;
            width: 0;
        }
    }

    .nav-link-dropdown {
        position: relative;
        cursor: auto;

        .nav-link-dropdown-content {
            -webkit-transition: opacity $duration-short;
            transition: opacity $duration-short;
            -webkit-transition-delay: $duration-short;
            transition-delay: $duration-short;
            -webkit-box-shadow: 5px 5px 10px -5px #000;
            box-shadow: 5px 5px 10px -5px #000;
            position: absolute;
            left: -1px;
            top: -9999px;
            opacity: 0;
            padding: $base-padding;
            border-radius: 5px;
            border-top-left-radius: 0;
            border: 1px solid rgba(0,0,0,.3);
            border-top: 0;
        }


        .nav-link-dropdown-link {
            &:hover {
                text-decoration: none;
            }
        }


        &:hover {
            .nav-link-dropdown-content {
                top: $nav-height;
                opacity: 1;
            }
        }
    }



    .nav-link-dropdown,
    .nav-link {
        &:hover {
            padding: 0 $base-padding * 2 0 $base-padding;
            color: #fff;
            text-decoration: none;

            &:before {
                width: auto;
            }
        }

        &.livestream:hover {
            background-color: $livestream-primary;
            border-color: $livestream-contrast;
            //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $livestream-contrast;

            &:before {
                color: $livestream-subtle;
            }
        }

        &.about:hover {
            background-color: $about-primary;
            border-color: $about-contrast;
            //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $about-contrast;

            &:before {
                color: $about-subtle;
            }
        }

        &.services:hover {
            background-color: $services-primary;
            border-color: $services-contrast;
            //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $services-contrast;

            &:before {
                color: $services-subtle;
            }
        }

        &.enroll:hover {
            background-color: $enroll-primary;
            border-color: $enroll-contrast;
            //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $enroll-contrast;

            &:before {
                color: $enroll-subtle;
            }
        }

        &.schedule:hover {
            background-color: $schedule-primary;
            border-color: $schedule-contrast;
            //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $schedule-contrast;

            &:before {
                color: $schedule-subtle;
            }
        }

        &.contact:hover {
            background-color: $contact-primary;
            border-color: $contact-contrast;
            //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $contact-contrast;

            &:before {
                color: $contact-subtle;
            }
        }
    }
}