.secure {
    .section {
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        min-height: 100%;
        z-index: 1;
        @include transition($duration-long, 0);
    }

    &.is-visible {
        .section {
            right: 0;
        }
    }
}