.collage-section {
    display: none;
    width: 100%;
    height: 50px;
}

.section {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    min-height: 100%;
    padding: $base-padding;

    p {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    li {
        font-size: 1.8rem;
        line-height: 1.8rem;
        list-style-type: disc;
        margin-left: 50px;
    }


    &.intro {
        background-color: $intro-primary;
        color: $intro-text;
        text-transform: uppercase;
        background-image: $intro-background;

        h1, h2, h3, h4, h5, h6 {
            color: $intro-heading;

            &:before {
                color: $intro-heading-icon;
                border-color: $intro-heading-ring;
            }
        }
    }

    &.about {
        background-color: $about-primary;
        color: $about-text;
        background-image: $about-background;

        h1, h2, h3, h4, h5, h6 {
            color: $about-heading;

            &:before {
                color: $about-heading-icon;
                border-color: $about-heading-ring;
            }
        }
    }

    &.services {
        background-color: $services-primary;
        color: $services-text;
        background-image: $services-background;

        h1, h2, h3, h4, h5, h6 {
            color: $services-heading;

            &:before {
                color: $services-heading-icon;
                border-color: $services-heading-ring;
            }
        }
    }

    &.livestream {
        background-color: $livestream-primary;
        color: $livestream-text;
        background-image: $livestream-background;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;

        h1, h2, h3, h4, h5, h6 {
            color: $livestream-heading;

            &:before {
                color: $livestream-heading-icon;
                border-color: $livestream-heading-ring;
            }
        }
    }

    &.enroll {
        background-color: $enroll-primary;
        color: $enroll-text;
        background-image: $enroll-background;

        h1, h2, h3, h4, h5, h6 {
            color: $enroll-heading;

            &:before {
                color: $enroll-heading-icon;
                border-color: $enroll-heading-ring;
            }
        }
    }

    &.contact {
        background-color: $contact-primary;
        color: $contact-text;
        background-image: $contact-background;

        h1, h2, h3, h4, h5, h6 {
            color: $contact-heading;

            &:before {
                color: $contact-heading-icon;
                border-color: $contact-heading-ring;
            }
        }
    }
}

.collage-section {
    &.intro {
        background-color: $intro-primary;
    }

    &.about {
        background-color: $about-primary;
    }

    &.services {
        background-color: $services-primary;
    }

    &.livestream {
        background-color: $livestream-primary;
    }

    &.enroll {
        background-color: $enroll-primary;
    }

    &.contact {
        background-color: $contact-primary;
    }
}

.map {
    width: 100%;
    height: $map-height;
    @include glow($glow-large, $contact-contrast);
}

.collage {
    z-index: 1;
    height: 50px;
    width: 100%;

    .collage-row {
        width: 9000px;
        font-size: 0;
        white-space: nowrap;
    }

    img {
        @include transition($duration-short, 0);
        @include desaturate(100%);
        width: auto;
        height: 50px;
        opacity: .2;
        position: relative;
        //mix-blend-mode: multiply;

        &:hover {
            @include grow(2);
            @include glow($glow-small, #000);
            z-index: 2;
            opacity: 1;
            @include desaturate(0);
            //mix-blend-mode: normal;
        }
    }
}

.alert {
    @include transition($duration-short, 0);
    @include glow($glow-small, #000);
    position: fixed;
    bottom: -$alert-height - $glow-small;
    left: 0;
    z-index: 99;
    height: $alert-height;
    text-align: center;
    width: 100%;
    font-size: .8rem;
    border-top: 1px solid $alert-success-text;
    line-height: $alert-height;
    background: $alert-success;
    color: $alert-success-text;


    &.visible {
        bottom: 0;
    }

    &.alert-error {
        background: $alert-error;
        color: $alert-error-text;
        border-color: $alert-error-text;
    }

    &.alert-success {
        background: $alert-success;
        color: $alert-success-text;
        border-color: $alert-success-text;
    }
}


@media (min-width: 550px) {
    .section {
        padding: $base-padding $base-padding $base-padding $nav-width + $base-padding;
    }
}
@media (max-width: 650px) {
    .section:not(.livestream) {
        background-image: none !important;
    }
}
@media (min-width: 650px) {
    .section {
        padding: $base-padding 25% $base-padding $nav-width + $base-padding;
    }
}
@media (min-width: $screen-sm) {
    .collage-section {
        display: block;
    }
}