nav {
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: -$nav-width;
    width: $nav-width;
    font-size: $nav-text-size;
    z-index: 4;
    @include transition($duration-short, 0);

    border-bottom-right-radius: 20px;


    &.toggler-open {
        left: 0;
    }

    a {
        color: #fff;
    }


    .livestream {
        background-color: $livestream-primary;
        border-color: $livestream-contrast;
        //color: $livestream-contrast;
        //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $livestream-contrast;

        &:before {
            color: $livestream-subtle;
        }
    }

    .about {
        background-color: $about-primary;
        border-color: $about-contrast;
        //color: $about-contrast;
        //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $about-contrast;

        &:before {
            color: $about-subtle;
        }
    }

    .services {
        background-color: $services-primary;
        border-color: $services-contrast;
        //color: $services-contrast;
        //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $services-contrast;

        &:before {
            color: $services-subtle;
        }
    }

    .enroll {
        background-color: $enroll-primary;
        border-color: $enroll-contrast;
        //color: $enroll-contrast;
        //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $enroll-contrast;

        &:before {
            color: $enroll-subtle;
        }
    }

    .schedule {
        background-color: $schedule-primary;
        border-color: $schedule-contrast;
        //color: $schedule-contrast;
        //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $schedule-contrast;

        &:before {
            color: $schedule-subtle;
        }
    }

    .contact {
        border-bottom-right-radius: 20px;
        background-color: $contact-primary;
        border-color: $contact-contrast;
        //color: $contact-contrast;
        //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $contact-contrast;

        &:before {
            color: $contact-subtle;
        }
    }
}

.nav-logo {
    width: 100%;
    padding: $small-padding;

    img {
        width: 100%;
    }
}

.nav-toggle {
    @include transition($duration-short, 0);
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 0;
    left: $nav-width;
    display: block;
    height: $nav-menu-size;
    width: $nav-menu-size;

    span {
        display: none;
    }

    &:after,
    &:before {
        @include transition($duration-short, 0);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        line-height: $nav-menu-size;
        text-align: center;
        width: 100%;
        height: 100%;
        font-size: 2rem;
    }

    &:after {
        content: "\4e"; // chevron-right
        opacity: 0;
    }

    &:hover {
        color: #000;
        background: rgba(255,255,255,.5);
        text-decoration: none;
        &:before {
            opacity: 0;
        }

        &:after {
            opacity: 1;
        }
    }
}

.toggler-open .nav-toggle {
    &:hover {
        &:after {
            content: "\4f"; // chevron-left
        }
    }
}


.nav-link {
    @include transition($duration-short, 0);
    display: block;
    color: #fff;
    padding: $small-padding $base-padding $small-padding $base-padding*2;
    border-right: $nav-border-size solid transparent;
    position: relative;
    line-height: $nav-icon-size;

    &:before {
        overflow: hidden;
        position: absolute;
        top: 8px;
        left: 5px;
        font-size: $nav-icon-size;
    }

    &:hover {
        text-decoration: none;
        color: #fff;

        &:before {
            width: auto;
        }
    }
}

.nav-link-dropdown {
    border-right: $nav-border-size solid transparent;
    position: relative;
    @include transition($duration-long, $duration-short);
    
    .nav-link-toggle {
        @include transition($duration-long, 0);
        border-radius: 4px;
        padding: 3px;
        height: 25px;
        width: 25px;
        line-height: 25px;
        background: rgba(0,0,0,.2);
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        display: block;

        &:hover {
            text-decoration: none;
        }

        span {
            display: none;
        }
    }

    &.toggler-open {
        .nav-link-toggle {
            &:before {
                content: "\4d"; // chevron up
            }
        }

        .nav-link-dropdown-content {
            max-height: 999px;
        }
    }

    .nav-link {
        border: none;
    }
}

.nav-link-dropdown-content {
    display: block;
    padding: 0 $base-padding;
    overflow: hidden;
    max-height: 0;
    @include transition($duration-long, 0);

    .nav-link {
        font-size: 1.4rem;
    }

    input {
        line-height: 2rem;
        font-size: 1.5rem;
        padding: 7px;
        margin: 7px 0;
        border: none;
        border-radius: 4px;
        font-family: $font-family-serif;
        color: #666;
        width: 100%;
    }

    p {
        margin: $small-padding 0;
        font-size: 1.2rem;
    }
}

@media (min-width: $screen-sm) {
    nav {
        left: 0;

        .livestream {
            background-color: transparent;
            border-color: transparent;
            &:hover {
                background-color: $livestream-primary;
                border-color: $livestream-contrast;
            }
        }

        .about {
            background-color: transparent;
            border-color: transparent;
            &:hover {
                background-color: $about-primary;
                border-color: $about-contrast;
            }
        }

        .services {
            background-color: transparent;
            border-color: transparent;
            &:hover {
                background-color: $services-primary;
                border-color: $services-contrast;
            }
        }

        .enroll {
            background-color: transparent;
            border-color: transparent;
            &:hover {
                background-color: $enroll-primary;
                border-color: $enroll-contrast;
            }
        }

        .schedule {
            background-color: transparent;
            border-color: transparent;
            &:hover {
                background-color: $schedule-primary;
                border-color: $schedule-contrast;
            }
        }

        .contact {
            background-color: transparent;
            border-color: transparent;
            &:hover {
                background-color: $contact-primary;
                border-color: $contact-contrast;
            }
        }

        .theme-reversed {
            &.livestream {
                background-color: transparent;
                border-color: transparent;

                &:hover {
                    background-color: $livestream-contrast;
                    border-color: $livestream-contrast;
                }
            }

            &.about {
                background-color: transparent;
                border-color: transparent;

                &:hover {
                    background-color: $about-contrast;
                    border-color: $about-contrast;
                }
            }

            &.services {
                background-color: transparent;
                border-color: transparent;

                &:hover {
                    background-color: $services-contrast;
                    border-color: $services-contrast;
                }
            }

            &.enroll {
                background-color: transparent;
                border-color: transparent;

                &:hover {
                    background-color: $enroll-contrast;
                    border-color: $enroll-contrast;
                }
            }

            &.schedule {
                background-color: transparent;
                border-color: transparent;

                &:hover {
                    background-color: $schedule-contrast;
                    border-color: $schedule-contrast;
                }
            }

            &.contact {
                background-color: transparent;
                border-color: transparent;

                &:hover {
                    background-color: $contact-contrast;
                    border-color: $contact-contrast;
                }
            }
        }
    }

    .nav-toggle {
        display: none;
    }

    .nav-link {
        &:before {
            width: 0;
        }
    }

    .nav-link-dropdown {
        @include transition($duration-short, $duration-long);

        .nav-link-toggle {
            display: none
        }

        &:hover {
            @include transition($duration-short, 0);

            .nav-link-dropdown-content {
                max-height: 999px;
            }

            > .nav-link {
                border: none;

                &:before {
                    width: auto;
                }
            }
        }

        &.toggler-open .nav-link-dropdown-content,
        .nav-link-dropdown-content {
            max-height: 0;
        }
    }
}

