
@mixin blocktext($color) {
    text-shadow: 2px 2px 0px $color;
}

@mixin desaturate($amount) {
    -webkit-filter: grayscale($amount);
    filter: grayscale($amount);
}

@mixin grow($scale) {
    -ms-transform: scale($scale, $scale);
    -webkit-transform: scale($scale, $scale);
    transform: scale($scale, $scale);
}

@mixin transition($duration, $delay) {
    -webkit-transition: all $duration;
    transition: all $duration;
    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin glow($amt, $color) {
    box-shadow: 0 0 $amt $color;
}

@mixin blur($amt) {
    -webkit-filter: blur($amt);
    -moz-filter: blur($amt);
    -o-filter: blur($amt);
    -ms-filter: blur($amt);
    filter: blur($amt);
}

$default-primary: #edc45b;
$default-text: #fff;
$default-contrast: #372d2d;
$default-subtle: #fff799;

.contrast {
    color: $default-contrast;
}

.subtle {
    color: $default-subtle;
}

.standard {
    color: $default-text;
}

$about-primary: #259eb4;
$about-contrast: darken($about-primary, 20%);
$about-subtle: lighten($about-primary, 30%);
$about-text: lighten($about-primary, 40%);
$about-heading: #fff;
$about-heading-icon: $about-heading;
$about-heading-ring: $about-subtle;
$about-background: url(../images/backgrounds/aslan-face.png);
.about {
    .contrast {
        color: $about-contrast;
    }

    .subtle {
        color: $about-subtle;
        @include blocktext(darken($about-subtle, 45%));
    }

    .standard {
        color: $about-text;
    }
}

$intro-primary: #e8bb49;
$intro-contrast: darken($intro-primary, 45%);
$intro-subtle: lighten($intro-primary, 25%);
$intro-text: lighten($intro-primary, 40%);
$intro-heading: #fff;
$intro-heading-icon: $intro-heading;
$intro-heading-ring: $intro-subtle;
$intro-background: url(../images/backgrounds/yoyo-face.png);

.intro {
    .contrast {
        color: $intro-contrast;
    }

    .subtle {
        color: $intro-subtle;
        @include blocktext(darken($intro-subtle, 45%));
    }

    .standard {
        color: $intro-text;
    }
}


$livestream-primary: $intro-primary;
$livestream-contrast: darken($livestream-primary, 40%);
$livestream-subtle: lighten($livestream-primary, 25%);
$livestream-text: #fff;
$livestream-heading: #fff;
$livestream-heading-icon: $livestream-heading;
$livestream-heading-ring: $livestream-subtle;
$livestream-background: url(http://storybook.ddns.net:8082);
.livestream {
    .contrast {
        color: $livestream-contrast;
    }

    .subtle {
        color: $livestream-subtle;
    }

    .standard {
        color: $livestream-text;
    }
}

$enroll-primary: #975bcf;
$enroll-contrast: darken($enroll-primary, 30%);
$enroll-subtle: lighten($enroll-primary, 25%);
$enroll-text: lighten($enroll-primary, 35%);
$enroll-heading: #fff;
$enroll-heading-icon: $enroll-heading;
$enroll-heading-ring: $enroll-subtle;
$enroll-background: url(../images/backgrounds/franklin-face.png);

.enroll {
    .contrast {
        color: $enroll-contrast;
    }

    .subtle {
        color: $enroll-subtle;
        @include blocktext(darken($enroll-subtle, 45%));
    }

    .standard {
        color: $enroll-text;
    }
}

$contact-primary: #c73352;
$contact-contrast: darken($contact-primary, 30%);
$contact-subtle: lighten($contact-primary, 25%);
$contact-text: lighten($contact-primary, 45%);
$contact-heading: #fff;
$contact-heading-icon: $contact-heading;
$contact-heading-ring: $contact-subtle;
$contact-background: url(../images/backgrounds/pug-face.png);

.contact {
    .contrast {
        color: $contact-contrast;
    }

    .subtle {
        color: $contact-subtle;
        @include blocktext(darken($contact-subtle, 45%));
    }

    .standard {
        color: $intro-text;
    }
}

$services-primary: #97c74a;
$services-contrast: darken($services-primary, 30%);
$services-subtle: lighten($services-primary, 25%);
$services-text: lighten($services-primary, 40%);
$services-heading: #fff;
$services-heading-icon: $services-heading;
$services-heading-ring: $services-subtle;
$services-background: url(../images/backgrounds/zelda-face.png);

.services {
    .contrast {
        color: $services-contrast;
    }

    .subtle {
        color: $services-subtle;
        @include blocktext(darken($services-subtle, 45%));
    }

    .standard {
        color: $services-text;
    }
}

$base-padding: 16px;
$small-padding: 10px;

$map-height: 80%;

$nav-menu-size: 35px;
$nav-top-padding: 40px;
$nav-width: 200px;
$nav-height: 50px;
$nav-text-size: 1.8rem;
$nav-text-height: 25px;
$nav-icon-size: 2.4rem;
$nav-icon-padding: 7px;
$nav-border-size: 6px;
$nav-shadow-x: 0px;
$nav-shadow-y: 0px;
$nav-shadow-blur: 50px;

$glow-small: 10px;
$glow-medium: 20px;
$glow-large: 40px;

$duration-short: .3s;
$duration-long: .8s;

$alert-height: 30px;
$alert-error: #ae6464;
$alert-error-text: darken($alert-error, 20%);
$alert-success: #6cb142;
$alert-success-text: darken($alert-success, 20%);
$alert-duration: .5s;

