@import "_bootstrap.scss";
@import "partials/_fonts.scss";
@import "partials/_variables.scss";
//@import "partials/_topnav.scss";
@import "partials/_sidenav.scss";
@import "partials/_sections.scss";
@import "partials/_buttons.scss";

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

a:hover,
a:focus {
    color: #fff;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0 0 $base-padding 0;
    padding: 0;
}

.section {
    display: block;
    clear: both;
}

.alert {
    display: none;
}