@import "partials/_reset.scss";
@import "partials/_variables.scss";
@import "partials/_fonts.scss";

html, body {
    height: 100%;
}

body {
    background: #fff;
    font-family: $primary-font-family;
    font-size: $primary-font-size;
    font-weight: $primary-font-weight;
    line-height: $primary-line-height;
}

p {
    margin-bottom: 1.5rem;
}

nav {
    height: 50px;
    line-height: 50px;
    font-size: .9rem;
    z-index: 999;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: $base-padding;
    width: 100%;

    a {
        @include transition($duration-short, 0);
        display: inline-block;
        float: left;
        position: relative;
        line-height: 50px;
        padding: 0 $base-padding;
        cursor: pointer;
        border-bottom: 2px solid transparent;

        &:before {
            display: inline-block;
            overflow: hidden;
            font-size: 1.3rem;
            line-height: 50px !important;
            position: absolute;
            top: 0;
            right: $small-padding;
            width: 0;
        }

        &:hover {
            padding: 0 $base-padding * 2 0 $base-padding;
            color: #fff;

            &:before {
                width: auto;
            }
        }

        &.watch:hover {
            background-color: $watch-primary;
            border-color: $watch-contrast;
            //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $watch-contrast;

            &:before {
                color: $watch-subtle;
            }
        }

        &.about:hover {
            background-color: $about-primary;
            border-color: $about-contrast;
            //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $about-contrast;

            &:before {
                color: $about-subtle;
            }
        }

        &.services:hover {
            background-color: $services-primary;
            border-color: $services-contrast;
            //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $services-contrast;

            &:before {
                color: $services-subtle;
            }
        }

        &.enroll:hover {
            background-color: $enroll-primary;
            border-color: $enroll-contrast;
            //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $enroll-contrast;

            &:before {
                color: $enroll-subtle;
            }
        }

        &.schedule:hover {
            background-color: $schedule-primary;
            border-color: $schedule-contrast;
            //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $schedule-contrast;

            &:before {
                color: $schedule-subtle;
            }
        }

        &.contact:hover {
            background-color: $contact-primary;
            border-color: $contact-contrast;
            //box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur $contact-contrast;

            &:before {
                color: $contact-subtle;
            }
        }
    }
}


.btn {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    padding: 0 52px + $small-padding 0 $small-padding;
    text-transform: uppercase;
    background-color: $default-contrast;
    color: #fff;
    line-height: 52px;
    @include transition($duration-short, 0);
    border-radius: 4px;

    &:before {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.6rem;
        color: $default-contrast;
        background-color: #fff;
        width: 52px;
        height: 52px;
        text-align: center;
        line-height: 52px;
        @include transition($duration-short, 0);
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:hover {
        background-color: #fff;
        color: $default-contrast;
        @include glow($glow-medium, #fff);

        &:before {
            background-color: $default-contrast;
            color: #fff;
        }
    }
}



.btn-lg {
    font-size: 1.5rem;
    line-height: 62px;
    border-radius: 8px;
    padding: 0 62px + $base-padding 0 $base-padding;

    &:hover {
        @include glow($glow-large, #fff);
    }

    &:before {
        font-size: 2.3rem;
        width: 62px;
        height: 62px;
        line-height: 62px;
        border-radius: 8px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}


.btn-sm {
    font-size: .8rem;
    line-height: 32px;
    border-radius: 3px;
    padding: 0 32px + $small-padding 0 $small-padding;

    &:hover {
        @include glow($glow-small, #fff);
    }

    &:before {
        font-size: 1.2rem;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 3px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}




/*
.btn-small {
    font-size: .9rem;
    padding: 3px;
    padding-left: 48px;
    padding-right: 15px;
    background: #fff;
    height: 45px;
    text-transform: uppercase;
    line-height: 45px;
    display: inline-block;
    color: $default-contrast;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    @include transition($duration-short, .2s);

    &:after,
    &:before {
        content: "";
        display: inline-block;
        height: 39px;
        line-height: 39px;
        border-radius: 12px;
        width: 39px;
        position: absolute;
        text-align: center;
        background: url(../images/paws.png) no-repeat 9px 7px;
    }

    &:before {
        left: 3px;
        background-color: $default-contrast;
        color: #fff;
        @include transition($duration-short, .4s);
    }

    &:after {
        right: -42px;
        background-color: #fff;
        color: $default-contrast;
        @include transition($duration-short, 0);
        background-position: 9px -20px;
    }
        

    &:hover {
        padding-right: 48px;
        padding-left: 15px;
        background: $default-contrast;
        color: #fff;
        box-shadow: $nav-shadow-x $nav-shadow-y $nav-shadow-blur #fff;


        &:before {
            left: -42px;
            @include transition($duration-short, 0);
        }

        &:after {
            right: 3px;
            @include transition($duration-short, .4s);
        }
    }
}
*/

.collage {
    z-index: 99;
    height: 50px;
    width: 100%;
    overflow: hidden;
    position: relative;

    .wrapper {
        width: 120%;
        
        overflow: hidden;
        font-size: 0;
    }

    img {
        @include transition($duration-short, 0);

        width: auto;
        height: 50px;
    }
}

.section {
    background-attachment: fixed;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;

    &.intro {
        background-color: $intro-primary;
        background-image: $intro-background;

        .btn:hover{
            &:before {
                color: $intro-primary;
            }
        }
    }

    &.about {
        background-color: $about-primary;
        background-position: bottom left;
        background-image: $about-background;

        .btn:hover{
            &:before {
                color: $about-primary;
            }
        }
    }

    &.services {
        background-color: $services-primary;
        background-image: $services-background;

        .btn:hover{
            &:before {
                color: $services-primary;
            }
        }
    }

    &.watch {
        background-color: $watch-primary;
        background: url(https://media.giphy.com/media/bXWpFtVrOyKo8/giphy-tumblr.gif);
        background-size: cover;

        .btn:hover{
            &:before {
                color: $watch-primary;
            }
        }
    }

    &.enroll {
        background-color: $enroll-primary;
        background-image: $enroll-background;
        background-position: left bottom;

        .btn:hover{
            &:before {
                color: $enroll-primary;
            }
        }
    }

    &.schedule {
        background-color: $schedule-primary;
        background-image: $schedule-background;

        .btn:hover{
            &:before {
                color: $schedule-primary;
            }
        }
    }

    &.contact {
        background-color: $contact-primary;
        background-image: $contact-background;
        position: relative;

        .btn:hover{
            &:before {
                color: $contact-primary;
            }
        }
    }
}
.map {
    width: 100%;
    height: $map-height;
}

