@import "_bootstrap.scss";
@import "partials/_fonts.scss";
@import "partials/_variables.scss";
@import "partials/_nav.scss";
@import "partials/_buttons.scss";

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0 0 $base-padding 0;
    padding: 0;
}

.section {
    display: block;
    clear: both;
}
