<section class="col-md-6 about" id="about" name="about">
    <h2 class="icon-paw">About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <h3 class="icon-paw">Duis aute irure</h3>
    <ul>
        <li>Dolor in reprehenderit in voluptate</li>
        <li>elit esse cillum dolore eu fugiat nulla pariatur</li>
        <li>Excepteur sint occaecat cupidatat non proident</li>
        <li>Sunt in culpa qui officia deserunt mollit anim id est laborum</li>
    </ul>

    <h3 class="icon-paw">Duis aute irure</h3>
    <ul>
        <li>Dolor in reprehenderit in voluptate</li>
        <li>elit esse cillum dolore eu fugiat nulla pariatur</li>
        <li>Excepteur sint occaecat cupidatat non proident</li>
        <li>Sunt in culpa qui officia deserunt mollit anim id est laborum</li>
    </ul>

    <p>
        <a href="#" class="btn btn-sm icon-paw">Take Action</a>
        <a href="#" class="btn btn-sm icon-paw">Another Action</a>
    </p>
</section>
