<router-outlet></router-outlet>

<footer class="row">

    <div class="col-xs-6 col-sm-3">
        <h6>Home</h6>
        <ul>
            <li><a href="">Link Title</a></li>
            <li><a href="">Link Title</a></li>
            <li><a href="">Link Title</a></li>
            <li><a href="">Link Title</a></li>
            <li><a href="">Link Title</a></li>
        </ul>
    </div>

    <div class="col-xs-6 col-sm-3">
        <h6>About Us</h6>
        <ul>
            <li><a href="">Link Title</a></li>
            <li><a href="">Link Title</a></li>
            <li><a href="">Link Title</a></li>
        </ul>
    </div>

    <div class="clearfix visible-xs-block"></div>

    <div class="col-xs-6 col-sm-3">
        <h6>Our Services</h6>
        <ul>
            <li><a href="">Link Title</a></li>
            <li><a href="">Link Title</a></li>
            <li><a href="">Link Title</a></li>
            <li><a href="">Link Title</a></li>
        </ul>
    </div>

    <div class="col-xs-6 col-sm-3">
        <h6>Contact Us</h6>
        <address>
            <p class="icon-map-marker icon-block">
                123 Main St<br>
                Detroit, MI 48226
            </p>
            <p class="icon-clock-o icon-block">
                Monday - Friday<br>
                9:00 AM - 5:00 PM
            </p>
            <p class="icon-phone-square icon-block"><a href="tel:+15555551212">555-555-1212</a></p>
            <p class="icon-envelope icon-block"><a href="mailto:fake@example.com">fake@example.com</a></p>
            <p class="icon-facebook-square icon-block"><a href="http://www.facebook.com">Facebook</a></p>
            <p class="icon-youtube icon-block"><a href="http://www.youtube.com">YouTube</a></p>
            <p class="icon-twitter-square icon-block"><a href="http://www.twitter.com" >@fakeexample</a></p>
        </address>
    </div>
</footer>
<!--<div alert class="alert">
    <ul>
        <li *ngFor="#msg of messages" class="alert-{{msg.type}}">{{msg.message}}</li>
    </ul>
</div>-->