<nav>
    <a class="nav-link about icon-paw" href="#about">About</a>
    <a class="nav-link services icon-paw" href="#services">Services</a>
    <a class="nav-link watch icon-paw" href="#watch">Watch</a>
    <a class="nav-link enroll icon-paw" href="#enroll">Enroll</a>
    <a class="nav-link schedule icon-paw" href="#schedule">Schedule</a>
    <a class="nav-link contact icon-paw" href="#contact">Contact</a>
    <h1><a href="#"><img src="images/logo-iso.png" alt="Storybook Kennels"></a></h1>
</nav>

<intro></intro>
<collage class="collage-section intro"></collage>
<about></about>
<collage class="collage-section about"></collage>
<services></services>
<collage class="collage-section services"></collage>
<watch></watch>
<collage class="collage-section enroll"></collage>
<enroll></enroll>
<collage class="collage-section schedule"></collage>
<schedule></schedule>
<collage class="collage-section contact"></collage>
<contact></contact>
<modal></modal>
