<section class="section">
    <div class="section-photo">
        <img src="images/contact/megan-yoyo.jpg">
    </div>
    <div class="section-content">
        <h1>Contact Us</h1>
        <div classs="col-xs-12">
            <p class="col-xs-6 icon-phone-square icon-block"><a href="tel:+15555551212">555-555-1212</a></p>
            <p class="col-xs-6 icon-envelope icon-block"><a href="mailto:fake@example.com">fake@example.com</a></p>
            <p class="col-xs-6 icon-facebook-square icon-block"><a href="http://www.facebook.com">Facebook</a></p>
            <p class="col-xs-6 icon-youtube icon-block"><a href="http://www.youtube.com">YouTube</a></p>
            <p class="col-xs-6 icon-twitter-square icon-block"><a href="http://www.twitter.com" >@fakeexample</a></p>
        </div>
    </div>
</section>

<section class="section">
    <div class="section-photo">
        <img src="images/contact/barn.jpg">
    </div>
    <div class="section-content">
        <h1>Directions</h1>
        <address class="col-xs-12">
            <p class="col-xs-6 icon-map-marker icon-block">
                123 Main St<br>
                Detroit, MI 48226
            </p>
            <p class="col-xs-6 icon-clock-o icon-block">
                Monday - Friday<br>
                9:00 AM - 5:00 PM
            </p>
        </address>
        <div class="col-xs-12 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2944.3430791116007!2d-83.38243304955127!3d42.44171593783247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1457323062569" frameborder="0"></iframe>
        </div>
    </div>
</section>

