<section class="section enroll" id="enroll" name="enroll">
    <h2 class="icon-paw">Enroll</h2>
    <p>Signing up is free and easy.  Do it here.</p>

    <h3 class="icon-paw">Sign up</h3>
    <ul>
        <li>Dolor in reprehenderit in voluptate</li>
        <li>elit esse cillum dolore eu fugiat nulla pariatur</li>
        <li>Excepteur sint occaecat cupidatat non proident</li>
        <li>Sunt in culpa qui officia deserunt mollit anim id est laborum</li>
    </ul>

    <h3 class="icon-paw">Already have an account?</h3>
    <form>
        <input type="text" #username name="username" id="username" placeholder="Username">
        <input type="password" #password name="password" id="password" placeholder="Password">
        <a href="" (click)="onLogin($event, username.value, password.value)" class="btn btn-sm icon-lock">Login</a>
    </form>
</section>
