<header>
    <div class="row">
        <a [routerLink]="['Home']" class="col-xs-12 col-sm-3 logo"><img src="images/logo.png" alt="Storybook Kennels"></a>
        
        <nav class="col-xs-12 text-uppercase nav-wrapper">
            <a href="" class="col-xs-6 visible-mobile mobile-nav-options">
                <span class="glyphicon glyphicon-menu-hamburger"></span> Menu
            </a>
            <button class="col-xs-6 text-right text-uppercase visible-mobile mobile-nav-options btn btn-primary">Sign In</button>

            <div class="col-xs-12 nav-container offscreen-mobile offscreen-left">       
                <a [routerLink]="['Home']" class="nav-link">Home</a>
                <a [routerLink]="['About']" class="nav-link">About Us</a>
                <a [routerLink]="['Services']" class="nav-link">Our Services</a>
                <a [routerLink]="['Contact']" class="nav-link">Contact Us</a>        
            </div>

            <form class="col-xs-12 form-inline login-form text-uppercase offscreen-mobile offscreen-right">
                <div class="col-xs-4 col-sm-5 form-group">
                    <label class="sr-only" for="username">Username</label>
                    <input class="form-control text-uppercase" type="text" name="username" id="username" placeholder="Username">
                </div>
                <div class="col-xs-4 col-sm-5 form-group">
                    <label class="sr-only" for="password">Password</label>
                    <input class="form-control text-uppercase" type="password" name="password" id="password" placeholder="Password">
                </div>
                <button class="col-xs-4 col-sm-2 text-uppercase btn btn-primary">Sign In</button>
            </form>
        </nav>
        <img class="hero-background" src="images/backgrounds/yoyo.jpg">
    </div>
</header>
