<header class="section intro" id="intro" name="intro">
    <h1 class="main-logo"><img src="images/logo-iso.png" alt="Storybook Kennels"></h1>
    <p class="contrast">At <span class="standard">Storybook Kennels</span>, we offer professional, fun daycare and boarding for dogs of all sizes and ages.</p>
    <p>Run by dog lovers, Storybook Kennels provides <span class="subtle">individual attention and group play</span> for all visitors.  We welcome the opportunity to care for your dogs the way you would, including <span class="subtle">special accommodations for illnesses and disabilities</span>.  We'll even let them on the furniture!</p>
    <p>Sign up and schedule your next appointment today!</p>
    <p><a href="#enroll" class="btn btn-lg icon-paw">Join now</a></p>
</header>