<h1 class="nav-logo"><a [routerLink]="['Home']" (click)="onNavClick($event)"><img src="images/logo-iso.png" alt="Storybook Kennels"></a></h1>
<a href="#" class="nav-toggle icon-alt-bars icon-bars" toggler item="nav-menu"><span>Menu</span></a>
<a [routerLink]="['About']" (click)="onNavClick($event)" class="nav-link about icon-paw">About</a>
<a [routerLink]="['Services']" (click)="onNavClick($event)" class="nav-link services icon-paw">Services</a>
<a [routerLink]="['Livestream']" (click)="onNavClick($event)" class="nav-link livestream icon-paw">Livestream</a>
<div class="nav-link-dropdown icon-chevron-down enroll toggler-open" id="enroll-menu" togglerMenu item="enroll-menu">
    <a class="nav-link-toggle theme-reversed enroll icon-chevron-down" toggler item="enroll-menu"><span>Toggle</span></a>
    <a [routerLink]="['Enroll']" (click)="onNavClick($event)" class="nav-link enroll icon-paw">Enroll</a>
    <form class="nav-link-dropdown-content enroll no-touchy" (submit)="onLogin(username.value, password.value, $event)">
        <input type="text" #username name="username" id="username" placeholder="Username">
        <input type="password" #password name="password" id="password" placeholder="Password">
        <button (click)="onLogin(username.value, password.value, $event)" class="btn btn-sm icon-lock">Login</button>
        <p><a href="#">Forgot password?</a></p>
    </form>
</div>
<div class="nav-link-dropdown icon-chevron-down account toggler-open requires-auth" id="account-menu" togglerMenu item="account-menu">
    <a class="nav-link-toggle theme-reversed account icon-chevron-down" toggler item="account-menu"><span>Toggle</span></a>
    <a [routerLink]="['Account']" (click)="onNavClick($event)" class="nav-link account icon-paw">My Account</a>
    <div class="nav-link-dropdown-content account">
        <a [routerLink]="['Myself']" (click)="onNavClick($event)" class="nav-link theme-reversed account icon-guide-dog">Myself</a>
        <a [routerLink]="['Friends']" (click)="onNavClick($event)" class="nav-link theme-reversed account icon-guide-dog">My Friends and Family</a>
        <a [routerLink]="['Dogs']" (click)="onNavClick($event)" class="nav-link theme-reversed account icon-guide-dog">My Dogs</a>
        <a href="" (click)="onLogout($event)" class="nav-link theme-reversed account icon-guide-dog">Logout</a>
    </div>
</div>
<a [routerLink]="['Contact']" class="nav-link contact icon-paw">Contact</a>