<h1 class="nav-logo"><a href="#"><img src="images/logo-iso.png" alt="Storybook Kennels"></a></h1>
<a href="#" class="nav-toggle icon-alt-bars icon-bars" toggler item="nav-menu"><span>Menu</span></a>
<a class="nav-link about icon-paw" href="#about">About</a>
<a class="nav-link services icon-paw" href="#services">Services</a>
<a class="nav-link livestream icon-paw" href="#livestream">Livestream</a>
<div class="nav-link-dropdown toggler-open enroll" togglerMenu item="enroll-menu">
    <a class="nav-link-toggle theme-reversed enroll icon-chevron-down" toggler item="enroll-menu"><span>Toggle</span></a>
    <a class="nav-link enroll icon-paw" href="#enroll">Enroll</a>
    <form class="nav-link-dropdown-content enroll no-touchy">
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="password" name="password" id="password" placeholder="Password">
        <a href="" class="btn btn-sm icon-lock">Login</a>
        <p><a href="#">Forgot password?</a></p>
    </form>
</div>
<!--<div class="nav-link-dropdown toggler-open enroll" togglerMenu item="account-menu">
    <a class="nav-link-toggle theme-reversed enroll icon-chevron-down" toggler item="account-menu"><span>Toggle</span></a>
    <a class="nav-link enroll icon-paw" href="#">My Account</a>
    <div class="nav-link-dropdown-content enroll">
        <a class="nav-link theme-reversed enroll icon-guide-dog" href="#myself">Myself</a>
        <a class="nav-link theme-reversed enroll icon-guide-dog" href="#friends">My Friends and Family</a>
        <a class="nav-link theme-reversed enroll icon-guide-dog" href="#dogs">My Dogs</a>
        <a class="nav-link theme-reversed enroll icon-guide-dog" href="#logout">Logout</a>
    </div>
</div>-->
<a class="nav-link contact icon-paw" href="#contact">Contact</a>